extends layout

block content
  h1= title
  h3 My name is {{name}}!

  input(type="text", ng-model='adj')
  h3 I AM {{adj}}

  label Click to show a message:
    input(type='checkbox', ng-model='seeMessage')
  h4 seeMessage: {{seeMessage}}
  h1(ng-show='seeMessage') THIS IS A SECRET MESSAGE

  pre{{instructors | json}}

  p Search:
  input(type='text', ng-model='query')
  ul
    li(ng-repeat='instructor in instructors | filter:query') {{instructor.name}} is allergic to {{instructor.allergies}}